* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background-image: url(../img/iphone-mockup.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 305px;
  height: 615px;
  display: flex;
  flex-direction: column;
  padding: 50px 20px 20px 20px;
}

.history,
.display-screen {
  flex-grow: 0.2;
  flex-basis: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
.history {
  font-size: 24px;
  color: rgb(244, 197, 135);
}

.display-screen {
  font-size: 32px;
  color: white;
}

.buttons-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.row > button {
  flex-basis: 60px;
  height: 50px;
  font-size: 24px;
  border-width: 0px;
  border-radius: 100px;
}

.erase,
.zero {
  flex-grow: 1;
}

.operator {
  background-color: orange;
  color: white;
}

.number,
.decimal {
  background-color: rgb(54, 54, 54);
  color: white;
}

.erase,
.clear {
  background-color: rgb(184, 184, 184);
  color: black;
}

button:active{
    scale: 1.1;
}
